.u-section-1 {
    background-image: url("../assets/img/carrepair-img-13.jpg");
}

.u-section-1 .u-sheet-1 {
    min-height: 797px;
}

.u-section-1 .u-list-1 {
    min-height: 526px;
    grid-template-rows: auto auto;
    width: 920px;
    height: auto;
    margin: 141px auto 0;
}

.u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 13.3333px);
    grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
    grid-gap: 20px 20px;
    grid-auto-rows: calc(50% - 10px);
}

.u-section-1 .u-list-item-1 {
    background-image: none;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-icon-1 {
    height: 72px;
    width: 72px;
    background-image: none;
    color: rgb(63, 152, 190) !important;
    margin: 28px auto 0;
}

.u-section-1 .u-text-1 {
    margin: 24px 7px 0 0;
}

.u-section-1 .u-list-item-2 {
    background-image: none;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-1 .u-icon-2 {
    height: 72px;
    width: 72px;
    background-image: none;
    color: rgb(63, 152, 190) !important;
    margin: 28px auto 0;
}

.u-section-1 .u-text-2 {
    margin: 24px 7px 0 0;
}

.u-section-1 .u-list-item-3 {
    background-image: none;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px;
}

.u-section-1 .u-icon-3 {
    height: 72px;
    width: 72px;
    background-image: none;
    color: rgb(63, 152, 190) !important;
    margin: 28px auto 0;
}

.u-section-1 .u-text-3 {
    margin: 24px 7px 0 0;
}

.u-section-1 .u-list-item-4 {
    background-image: none;
}

.u-section-1 .u-container-layout-4 {
    padding: 30px;
}

.u-section-1 .u-icon-4 {
    height: 72px;
    width: 72px;
    background-image: none;
    color: rgb(63, 152, 190) !important;
    margin: 28px auto 0;
}

.u-section-1 .u-text-4 {
    margin: 24px 7px 0 0;
}

.u-section-1 .u-list-item-5 {
    background-image: none;
}

.u-section-1 .u-container-layout-5 {
    padding: 30px;
}

.u-section-1 .u-icon-5 {
    height: 72px;
    width: 72px;
    background-image: none;
    color: rgb(63, 152, 190) !important;
    margin: 28px auto 0;
}

.u-section-1 .u-text-5 {
    margin: 24px 7px 0 0;
}

.u-section-1 .u-list-item-6 {
    background-image: none;
}

.u-section-1 .u-container-layout-6 {
    padding: 30px;
}

.u-section-1 .u-icon-6 {
    height: 72px;
    width: 72px;
    background-image: none;
    color: rgb(63, 152, 190) !important;
    margin: 28px auto 0;
}

.u-section-1 .u-text-6 {
    margin: 24px 7px 0 0;
}

.u-section-1 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: -327px 898px 0 auto;
    padding: 8px 33px;
}

.u-section-1 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: -40px auto 0 274px;
    padding: 8px 48px;
}

.u-section-1 .u-btn-3 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: -40px auto 0 441px;
    padding: 8px 33px;
}

.u-section-1 .u-btn-4 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: -40px auto 0 589px;
    padding: 8px 48px;
}

.u-section-1 .u-btn-5 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: -40px auto 0 898px;
    padding: 8px 48px;
}

.u-section-1 .u-btn-6 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: -40px auto 0 750px;
    padding: 8px 33px;
}

.u-section-1 .u-btn-7 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: 230px 898px 0 auto;
    padding: 8px 33px;
}

.u-section-1 .u-btn-8 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: -40px auto 0 274px;
    padding: 8px 48px;
}

.u-section-1 .u-btn-9 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: -40px auto 0 589px;
    padding: 8px 48px;
}

.u-section-1 .u-btn-10 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: -40px auto 0 441px;
    padding: 8px 33px;
}

.u-section-1 .u-btn-11 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: -40px auto 0 750px;
    padding: 8px 33px;
}

.u-section-1 .u-btn-12 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: -40px auto 60px 898px;
    padding: 8px 48px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 657px;
    }

    .u-section-1 .u-list-1 {
        min-height: 424px;
        width: 800px;
        margin-top: 130px;
    }

    .u-section-1 .u-btn-1 {
        margin-right: 698px;
    }

    .u-section-1 .u-btn-2 {
        margin-left: 74px;
    }

    .u-section-1 .u-btn-3 {
        margin-left: 241px;
    }

    .u-section-1 .u-btn-4 {
        margin-left: 389px;
    }

    .u-section-1 .u-btn-5 {
        margin-left: 698px;
    }

    .u-section-1 .u-btn-6 {
        margin-left: 550px;
    }

    .u-section-1 .u-btn-7 {
        margin-right: 698px;
    }

    .u-section-1 .u-btn-8 {
        margin-left: 74px;
    }

    .u-section-1 .u-btn-9 {
        margin-left: 389px;
    }

    .u-section-1 .u-btn-10 {
        margin-left: 241px;
    }

    .u-section-1 .u-btn-11 {
        margin-left: 550px;
    }

    .u-section-1 .u-btn-12 {
        margin-left: 698px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 903px;
    }

    .u-section-1 .u-list-1 {
        min-height: 731px;
        width: 590px;
        margin-top: -654px;
    }

    .u-section-1 .u-repeater-1 {
        grid-auto-columns: calc(50% - 10px);
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);
        grid-auto-rows: calc(33.33% - 13.3333px);
    }

    .u-section-1 .u-text-1 {
        margin-right: 0;
    }

    .u-section-1 .u-text-2 {
        margin-right: 0;
    }

    .u-section-1 .u-text-3 {
        margin-right: 0;
    }

    .u-section-1 .u-text-4 {
        margin-right: 0;
    }

    .u-section-1 .u-text-5 {
        margin-right: 0;
    }

    .u-section-1 .u-text-6 {
        margin-right: 0;
    }

    .u-section-1 .u-btn-1 {
        margin-right: 478px;
    }

    .u-section-1 .u-btn-2 {
        margin-left: 0;
    }

    .u-section-1 .u-btn-3 {
        margin-left: 21px;
    }

    .u-section-1 .u-btn-4 {
        margin-left: 169px;
    }

    .u-section-1 .u-btn-5 {
        margin-left: 478px;
    }

    .u-section-1 .u-btn-6 {
        margin-left: 330px;
    }

    .u-section-1 .u-btn-7 {
        margin-right: 478px;
    }

    .u-section-1 .u-btn-8 {
        margin-left: 0;
    }

    .u-section-1 .u-btn-9 {
        margin-left: 169px;
    }

    .u-section-1 .u-btn-10 {
        margin-left: 21px;
    }

    .u-section-1 .u-btn-11 {
        margin-left: 330px;
    }

    .u-section-1 .u-btn-12 {
        margin-left: 478px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 2755px;
    }

    .u-section-1 .u-list-1 {
        width: 463px;
        margin-top: -632px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-4 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-6 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-btn-1 {
        margin-right: 298px;
    }

    .u-section-1 .u-btn-3 {
        margin-left: 0;
    }

    .u-section-1 .u-btn-4 {
        margin-left: 0;
    }

    .u-section-1 .u-btn-5 {
        margin-left: 298px;
    }

    .u-section-1 .u-btn-6 {
        margin-left: 150px;
    }

    .u-section-1 .u-btn-7 {
        margin-right: 298px;
    }

    .u-section-1 .u-btn-9 {
        margin-left: 0;
    }

    .u-section-1 .u-btn-10 {
        margin-left: 0;
    }

    .u-section-1 .u-btn-11 {
        margin-left: 150px;
    }

    .u-section-1 .u-btn-12 {
        margin-left: 298px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1726px;
    }

    .u-section-1 .u-list-1 {
        min-height: 1205px;
        width: 276px;
        margin-top: -184px;
    }

    .u-section-1 .u-repeater-1 {
        grid-auto-columns: 100%;
        grid-template-columns: 100%;
        grid-auto-rows: calc(16.66% - 16.6667px);
    }

    .u-section-1 .u-btn-1 {
        margin-right: 98px;
    }

    .u-section-1 .u-btn-5 {
        margin-left: 98px;
    }

    .u-section-1 .u-btn-6 {
        margin-left: 0;
    }

    .u-section-1 .u-btn-7 {
        margin-right: 98px;
    }

    .u-section-1 .u-btn-11 {
        margin-left: 0;
    }

    .u-section-1 .u-btn-12 {
        margin-left: 98px;
    }
}

.u-section-2 .u-sheet-1 {
    min-height: 500px;
}