.u-section-1 {
    background-image: none;
}

.u-section-1 .u-sheet-1 {
    min-height: 553px;
}

.u-section-1 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 473px;
}

.u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
}

.u-section-1 .u-text-1 {
    margin: 0;
}

.u-section-1 .u-text-2 {
    margin: 22px 0 0;
}

.u-section-1 .u-social-icons-1 {
    white-space: nowrap;
    height: 32px;
    min-height: 16px;
    width: 158px;
    min-width: 94px;
    margin: 29px auto 0 0;
}

.u-section-1 .u-icon-1 {
    height: 100%;
}

.u-section-1 .u-icon-2 {
    height: 100%;
}

.u-section-1 .u-icon-3 {
    height: 100%;
}

.u-section-1 .u-icon-4 {
    height: 100%;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 75px;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px 40px 0;
}

.u-section-1 .u-text-3 {
    margin-top: 0;
}

.u-section-1 .u-layout-cell-3 {
    min-height: 333px;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px;
}

.u-section-1 .u-form-1 {
    margin: 0;
}

.u-section-1 .u-btn-1 {
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 450px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 351px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 68px;
    }

    .u-section-1 .u-layout-cell-3 {
        min-height: 302px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 280px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-1 .u-layout-cell-3 {
        min-height: 100px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 380px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.u-section-2 .u-sheet-1 {
    min-height: 500px;
}

@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 412px;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
        min-height: 316px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
        min-height: 296px;
    }
}