.u-section-1 {
    min-height: 531px;
}

.u-section-1 .u-gallery-1 {
    height: 531px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
    position: absolute;
    bottom: 10px;
}

.u-section-1 .u-over-slide-1 {
    min-height: 100px;
    padding: 0;
}

.u-section-1 .u-over-slide-2 {
    min-height: 100px;
    padding: 0;
}

.u-section-1 .u-over-slide-3 {
    min-height: 100px;
    padding: 0;
}

.u-section-1 .u-carousel-control-1 {
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    right: auto;
}

.u-section-1 .u-carousel-control-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: auto;
    right: 11px;
}

.u-section-2 .u-sheet-1 {
    min-height: 742px;
}

.u-section-2 .u-text-1 {
    font-weight: 700;
    font-size: 1.5rem;
    width: 640px;
    margin: 59px auto 0;
}

.u-section-2 .u-text-2 {
    font-weight: 900;
    width: 640px;
    margin: 20px auto 0;
}

.u-section-2 .u-line-1 {
    width: 74px;
    transform-origin: left center;
    height: 3px;
    margin: 30px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
    margin: 40px auto 59px 0;
}

.u-section-2 .u-layout-cell-1 {
    min-height: 204px;
    background-position: 0% 0%;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px;
}

.u-section-2 .u-icon-1 {
    height: 64px;
    width: 64px;
    border-radius: 10px;
    margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
    margin: 13px 0 0;
}

.u-section-2 .u-layout-cell-2 {
    min-height: 204px;
    background-position: 0% 0%;
}

.u-section-2 .u-container-layout-2 {
    padding: 30px;
}

.u-section-2 .u-icon-2 {
    height: 64px;
    width: 64px;
    border-radius: 10px;
    margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
    margin: 13px 0 0;
}

.u-section-2 .u-layout-cell-3 {
    min-height: 204px;
    background-position: 0% 0%;
}

.u-section-2 .u-container-layout-3 {
    padding: 30px;
}

.u-section-2 .u-icon-3 {
    height: 64px;
    width: 64px;
    border-radius: 10px;
    margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
    margin: 13px 0 0;
}

.u-section-2 .u-layout-cell-4 {
    min-height: 197px;
    background-position: 0% 0%;
}

.u-section-2 .u-container-layout-4 {
    padding: 30px;
}

.u-section-2 .u-icon-4 {
    height: 64px;
    width: 64px;
    border-radius: 10px;
    margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 22px 0 0;
}

.u-section-2 .u-text-10 {
    margin: 13px 0 0;
}

.u-section-2 .u-layout-cell-5 {
    min-height: 197px;
    background-position: 0% 0%;
}

.u-section-2 .u-container-layout-5 {
    padding: 30px;
}

.u-section-2 .u-icon-5 {
    height: 64px;
    width: 64px;
    border-radius: 10px;
    margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 20px 3px 0 0;
}

.u-section-2 .u-text-12 {
    margin: 13px 3px 0 0;
}

.u-section-2 .u-layout-cell-6 {
    min-height: 197px;
    background-position: 0% 0%;
}

.u-section-2 .u-container-layout-6 {
    padding: 30px;
}

.u-section-2 .u-icon-6 {
    height: 64px;
    width: 64px;
    border-radius: 10px;
    margin: 0 auto 0 0;
}

.u-section-2 .u-text-13 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 20px 0 0;
}

.u-section-2 .u-text-14 {
    margin: 13px 0 0;
}

@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 612px;
    }

    .u-section-2 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 168px;
    }

    .u-section-2 .u-layout-cell-2 {
        min-height: 168px;
    }

    .u-section-2 .u-layout-cell-3 {
        min-height: 168px;
    }

    .u-section-2 .u-layout-cell-4 {
        min-height: 162px;
    }

    .u-section-2 .u-layout-cell-5 {
        min-height: 162px;
    }

    .u-section-2 .u-text-11 {
        margin-right: auto;
    }

    .u-section-2 .u-text-12 {
        margin-right: auto;
    }

    .u-section-2 .u-layout-cell-6 {
        min-height: 162px;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
        min-height: 469px;
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-2 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-2 .u-layout-cell-3 {
        min-height: 100px;
    }

    .u-section-2 .u-layout-cell-4 {
        min-height: 100px;
    }

    .u-section-2 .u-layout-cell-5 {
        min-height: 100px;
    }

    .u-section-2 .u-layout-cell-6 {
        min-height: 100px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
        min-height: 352px;
    }

    .u-section-2 .u-text-1 {
        width: 540px;
    }

    .u-section-2 .u-text-2 {
        width: 540px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-6 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
        min-height: 222px;
    }

    .u-section-2 .u-text-1 {
        width: 340px;
    }

    .u-section-2 .u-text-2 {
        width: 340px;
    }
}

.u-section-3 .u-sheet-1 {
    min-height: 502px;
}