.u-section-1 .u-sheet-1 {
    min-height: 409px;
}

.u-section-1 .u-layout-wrap-1 {
    width: 1140px;
    margin: -305px auto 0 -26px;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 721px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px 30px 30px 0;
}

.u-section-1 .u-text-1 {
    font-size: 1.875rem;
    font-weight: 300;
    text-decoration: underline !important;
    margin: 341px 39px 0 5px;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 721px;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px 30px 30px 4px;
}

.u-section-1 .u-text-2 {
    font-size: 1rem;
    margin: 341px 11px 0 332px;
}

.u-section-1 .u-list-icon-1 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-1 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-1 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-1 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-1 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-1 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-1 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-1 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-1 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-1 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-1 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-1 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-text-3 {
    font-size: 1rem;
    margin: -300px 323px 0 0;
}

.u-section-1 .u-list-icon-13 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-13 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-13 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-16 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-13 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-13 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-13 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-13 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-13 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-13 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-13 {
    color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-13 {
    color: rgb(244, 67, 54) !important;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 500px;
    }

    .u-section-1 .u-layout-wrap-1 {
        position: relative;
        width: 940px;
        margin-left: 0;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 595px;
    }

    .u-section-1 .u-text-1 {
        margin-left: 0;
        margin-right: 58px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 595px;
    }

    .u-section-1 .u-text-2 {
        margin-top: 64px;
        margin-right: 0;
        margin-left: 223px;
    }

    .u-section-1 .u-text-3 {
        margin-right: 176px;
        margin-left: 52px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-layout-wrap-1 {
        margin-top: 291px;
        width: 720px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 0;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-1 .u-text-2 {
        margin-top: 164px;
        margin-left: 91px;
    }

    .u-section-1 .u-text-3 {
        margin-top: -84px;
        margin-right: 66px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-layout-wrap-1 {
        width: 540px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-right: 10px;
    }

    .u-section-1 .u-text-2 {
        margin-top: 64px;
    }

    .u-section-1 .u-text-3 {
        margin-top: -300px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-layout-wrap-1 {
        margin-top: 344px;
        width: 340px;
    }

    .u-section-1 .u-text-2 {
        margin-top: 164px;
        margin-left: 0;
    }

    .u-section-1 .u-text-3 {
        margin-top: -84px;
        margin-right: 0;
    }
}