.u-section-1 .u-sheet-1 {
    min-height: 900px;
}

.u-section-1 .u-table-1 {
    width: 504px;
    margin: 59px auto 0 30px;
}

.u-section-1 .u-table-header-1 {
    font-weight: 700;
}

.u-section-1 .u-table-2 {
    width: 504px;
    margin: -350px auto 0 570px;
}

.u-section-1 .u-table-entity-2 {
    min-height: 100px;
}

.u-section-1 .u-table-header-2 {
    font-weight: 700;
}

.u-section-1 .u-table-3 {
    width: 1095px;
    margin: 43px auto 0;
}

.u-section-1 .u-table-header-3 {
    font-weight: 700;
    background-image: none;
}

.u-block-79c8-101 {
    background-image: none;
}

.u-section-1 .u-text-1 {
    font-size: 1.25rem;
    animation-duration: 1000ms;
    font-weight: 700;
    margin: 59px 77px 0 814px;
}

.u-section-1 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    animation-duration: 1000ms;
    margin: -36px 349px 0 auto;
    padding: 8px 33px;
}

.u-section-1 .u-custom-html-1 {
    min-height: 132px;
    height: auto;
    margin: -86px 509px 60px 570px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-table-1 {
        margin-top: 559px;
    }

    .u-section-1 .u-table-2 {
        margin-top: -368px;
        margin-left: 436px;
    }

    .u-section-1 .u-table-3 {
        width: 940px;
        margin-top: -115px;
    }

    .u-section-1 .u-text-1 {
        margin-top: -193px;
        margin-right: 11px;
        margin-left: 680px;
    }

    .u-section-1 .u-btn-1 {
        margin-right: 149px;
    }

    .u-section-1 .u-custom-html-1 {
        margin-right: 409px;
        margin-left: 470px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-table-2 {
        margin-left: 216px;
    }

    .u-section-1 .u-table-3 {
        width: 720px;
    }

    .u-section-1 .u-text-1 {
        margin-left: 460px;
    }

    .u-section-1 .u-btn-1 {
        margin-right: 0;
    }

    .u-section-1 .u-custom-html-1 {
        margin-right: 299px;
        margin-left: 360px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-table-2 {
        margin-left: 36px;
    }

    .u-section-1 .u-table-3 {
        width: 540px;
    }

    .u-section-1 .u-text-1 {
        margin-left: 280px;
    }

    .u-section-1 .u-custom-html-1 {
        margin-right: 209px;
        margin-left: 270px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-table-1 {
        width: 340px;
        margin-left: 0;
    }

    .u-section-1 .u-table-2 {
        width: 340px;
        margin-left: 0;
    }

    .u-section-1 .u-table-3 {
        width: 340px;
    }

    .u-section-1 .u-text-1 {
        margin-top: -202px;
        margin-right: 0;
        margin-left: 91px;
    }

    .u-section-1 .u-custom-html-1 {
        margin-right: 109px;
        margin-left: 170px;
    }
}