<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Activities</title>
    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen" th:href="@{/css/nicepage.css}">
    <link rel="stylesheet" href="../static/css/activities.css" media="screen" th:href="@{/css/activities.css}">
    <link href="../static/css/table.css" media="screen" th:href="@{/css/table.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css" media="screen" th:href="@{/css/styles.css}">
    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"
            defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" th:src="@{/js/nicepage.js}"
            defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/default-logo.png"
    }</script>
    <meta property="og:title" content="About">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body">
<header class="u-clearfix u-grey-50 u-header u-header" id="sec-d47d">
    <div class="u-align-left u-border-1 u-border-grey-15 u-expanded-width u-line u-line-horizontal u-line-1"></div>
    <form action="#"
          class="u-active-palette-1-base u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-grey-5 u-hover-palette-1-base u-search u-search-left u-search-1">
        <button class="u-search-button" type="submit">
          <span class="u-search-icon u-spacing-10">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966" style=""><use
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0092"></use></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 th:href="@{http://www.w3.org/1999/xlink}"
                 version="1.1"
                 id="svg-0092" x="0px" y="0px" viewBox="0 0 56.966 56.966"
                 style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" class="u-svg-content"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          </span>
        </button>
        <input class="u-search-input" type="search" name="search" value="" placeholder="Search">
    </form>
    <div class="u-social-icons u-spacing-10 u-social-icons-1">
        <a class="u-social-url" title="facebook" target="_blank" href=""><span
                class="u-icon u-icon-circle u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link"
                                                                                           preserveAspectRatio="xMidYMin slice"
                                                                                           viewBox="0 0 112 112"
                                                                                           style=""><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8549"></use></svg><svg class="u-svg-content"
                                                                                                   viewBox="0 0 112 112"
                                                                                                   x="0" y="0"
                                                                                                   id="svg-8549"><circle
                fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
            c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
        </a>
        <a class="u-social-url" title="twitter" target="_blank" href=""><span
                class="u-icon u-icon-circle u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link"
                                                                                          preserveAspectRatio="xMidYMin slice"
                                                                                          viewBox="0 0 112 112"
                                                                                          style=""><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-31a6"></use></svg><svg class="u-svg-content"
                                                                                                   viewBox="0 0 112 112"
                                                                                                   x="0" y="0"
                                                                                                   id="svg-31a6"><circle
                fill="currentColor" class="st0" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2
            c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1
            c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14
            c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4
            c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z"></path></svg></span>
        </a>
        <a class="u-social-url" title="instagram" target="_blank" href=""><span
                class="u-icon u-icon-circle u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link"
                                                                                            preserveAspectRatio="xMidYMin slice"
                                                                                            viewBox="0 0 112 112"
                                                                                            style=""><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2561"></use></svg><svg class="u-svg-content"
                                                                                                   viewBox="0 0 112 112"
                                                                                                   x="0" y="0"
                                                                                                   id="svg-2561"><circle
                fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
            z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path
                fill="#FFFFFF"
                d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path
                fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
            C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
            c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
        </a>
    </div>
    <nav class="u-align-left u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#" style="padding: 4px 30px; font-size: calc(1em + 8px);">
                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5c50"></use>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     id="svg-5c50" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;"
                     xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect
                        y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g></svg>
            </a>
        </div>
        <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="index.html" th:href="@{/}" style="padding: 10px 38px;">Home</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="contact.html" th:href="@{/contact}" style="padding: 10px 38px;">Contact</a>
                </li>
                <li class="u-nav-item" sec:authorize="!isAuthenticated()">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/login}" style="padding: 10px 38px;">Login</a>
                </li>
                <li class="u-nav-item" sec:authorize="hasRole('ADMINISTRATOR')">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/activities}" style="padding: 10px 38px;">Activities</a>
                </li>
                <li class="u-nav-item" sec:authorize="isAuthenticated()">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/profile}" style="padding: 10px 38px;">Profile</a>
                </li>
                <li class="u-nav-item" sec:authorize="isAuthenticated()">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/logout}" style="padding: 10px 38px;">Logout</a>
                </li>
            </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                <div class="u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="index.html"
                                                  style="padding: 10px 38px;">Home</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="About.html"
                                                  style="padding: 10px 38px;">About</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="contact.html"
                                                  style="padding: 10px 38px;">Contact</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="contact.html"
                                                  style="padding: 10px 38px;">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
    </nav>
</header>
<section class="u-align-center u-clearfix u-image u-section-1" id="carousel_ee3a" data-image-width="1920"
         data-image-height="820">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-1">
                    <div class="u-container-layout u-similar-container u-container-layout-1"><span
                            class="u-icon u-icon-circle u-text-palette-3-base u-icon-1"><svg class="u-svg-link"
                                                                                             preserveAspectRatio="xMidYMin slice"
                                                                                             viewBox="0 0 512 512"
                                                                                             style=""><use
                            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a2de"></use></svg><svg
                            class="u-svg-content" viewBox="0 0 512 512" id="svg-a2de"><g><circle cx="256" cy="119.631"
                                                                                                 r="87"></circle><circle
                            cx="432" cy="151.63" r="55"></circle><circle cx="80" cy="151.63" r="55"></circle><path
                            d="m134.19 256.021c-21.65-17.738-41.257-15.39-66.29-15.39-37.44 0-67.9 30.28-67.9 67.49v109.21c0 16.16 13.19 29.3 29.41 29.3 70.026 0 61.59 1.267 61.59-3.02 0-77.386-9.166-134.137 43.19-187.59z"></path><path
                            d="m279.81 241.03c-43.724-3.647-81.729.042-114.51 27.1-54.857 43.94-44.3 103.103-44.3 175.48 0 19.149 15.58 35.02 35.02 35.02 211.082 0 219.483 6.809 232-20.91 4.105-9.374 2.98-6.395 2.98-96.07 0-71.226-61.673-120.62-111.19-120.62z"></path><path
                            d="m444.1 240.63c-25.17 0-44.669-2.324-66.29 15.39 51.965 53.056 43.19 105.935 43.19 187.59 0 4.314-7.003 3.02 60.54 3.02 16.8 0 30.46-13.61 30.46-30.34v-108.17c0-37.21-30.46-67.49-67.9-67.49z"></path>
</g></svg>


          </span>
                        <h4 class="u-text u-text-1">Customers</h4>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-2">
                    <div class="u-container-layout u-similar-container u-container-layout-2"><span
                            class="u-icon u-icon-circle u-text-palette-3-base u-icon-2"><svg class="u-svg-link"
                                                                                             preserveAspectRatio="xMidYMin slice"
                                                                                             viewBox="0 0 511.999 511.999"
                                                                                             style=""><use
                            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6e93"></use></svg><svg
                            class="u-svg-content" viewBox="0 0 511.999 511.999" x="0px" y="0px" id="svg-6e93"
                            style="enable-background:new 0 0 511.999 511.999;"><g><g><path
                            d="M293.6,230.954c-13.81,0-25.045,11.235-25.045,25.045c0,13.81,11.235,25.045,25.045,25.045s25.045-11.235,25.045-25.045    C318.645,242.189,307.41,230.954,293.6,230.954z"></path>
</g>
</g><g><g><path d="M310.189,155.037v45.163c12.862,3.83,23.872,11.989,31.333,22.788l42.956-13.958    C369.869,180.878,342.56,160.336,310.189,155.037z"></path>
</g>
</g><g><g><path d="M394.754,240.574l-42.969,13.962c0.012,0.488,0.038,0.973,0.038,1.463c0,13.297-4.49,25.558-12.02,35.371l26.53,36.514    c18.279-18.492,29.583-43.892,29.583-71.885C395.916,250.757,395.518,245.606,394.754,240.574z"></path>
</g>
</g><g><g><path d="M293.6,37.6H91.789c-9.161,0-16.588,7.427-16.588,16.588s7.427,16.588,16.588,16.588h86.226    c-18.192,11.393-34.595,25.385-48.68,41.46H16.588C7.427,112.237,0,119.665,0,128.826c0,9.161,7.427,16.588,16.588,16.588h88.75    c-19.138,32.456-30.138,70.258-30.138,110.585c0,46.924,14.879,90.438,40.161,126.077H68.295c-9.161,0-16.588,7.427-16.588,16.588    c0,9.161,7.427,16.588,16.588,16.588h76.019c10.343,9.702,21.628,18.408,33.701,25.969H18.299    c-9.161,0-16.588,7.427-16.588,16.588c0,9.161,7.427,16.588,16.588,16.588H293.6c120.427,0,218.399-97.974,218.399-218.399    S414.026,37.6,293.6,37.6z M374.178,364.859c-0.305,0.258-0.608,0.518-0.937,0.755c-0.37,0.269-0.749,0.52-1.132,0.754    c-22.164,15.811-49.269,25.123-78.509,25.123c-29.24,0-56.344-9.312-78.509-25.123c-0.384-0.234-0.762-0.485-1.132-0.754    c-0.328-0.239-0.631-0.499-0.937-0.755c-33.295-24.71-54.915-64.306-54.915-108.86c0-74.711,60.782-135.493,135.493-135.493    s135.493,60.782,135.493,135.493C429.093,300.554,407.474,340.149,374.178,364.859z"></path>
</g>
</g><g><g><path d="M202.722,209.029l42.955,13.958c7.463-10.798,18.472-18.957,31.334-22.788v-45.163    C244.641,160.336,217.332,180.877,202.722,209.029z"></path>
</g>
</g><g><g><path d="M312.979,310.894c-6.066,2.148-12.585,3.329-19.379,3.329c-6.792,0-13.313-1.181-19.379-3.329l-26.536,36.522    c13.816,6.967,29.414,10.899,45.915,10.899s32.099-3.931,45.915-10.899L312.979,310.894z"></path>
</g>
</g><g><g><path d="M235.378,255.999c0-0.49,0.024-0.975,0.036-1.463l-42.969-13.962c-0.764,5.032-1.162,10.183-1.162,15.425    c0,27.994,11.305,53.394,29.584,71.887l26.53-36.516C239.868,281.558,235.378,269.296,235.378,255.999z"></path>
</g>
</g></svg>


          </span>
                        <h4 class="u-text u-text-2">Vehicles</h4>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-3">
                    <div class="u-container-layout u-similar-container u-container-layout-3"><span
                            class="u-icon u-icon-circle u-text-palette-3-base u-icon-3"><svg class="u-svg-link"
                                                                                             preserveAspectRatio="xMidYMin slice"
                                                                                             viewBox="0 0 511.977 511.977"
                                                                                             style=""><use
                            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a3bb"></use></svg><svg
                            class="u-svg-content" viewBox="0 0 511.977 511.977" id="svg-a3bb"><g><path
                            d="m14.977 390.988h392c3.516 0 6.914-1.23 9.609-3.472 3.765-3.153 89.652-77.038 94.889-236.528h-421c-5.217 144.774-84.315 212.822-85.137 213.501-4.819 4.072-6.592 10.723-4.424 16.641 2.153 5.903 7.764 9.858 14.063 9.858z"></path><path
                            d="m496.976 60.988h-75v-15c0-8.4-6.6-15-15-15s-15 6.6-15 15v15h-76v-15c0-8.4-6.6-15-15-15s-15 6.6-15 15v15h-75v-15c0-8.4-6.6-15-15-15s-15 6.6-15 15v15h-75c-8.4 0-15 6.6-15 15v45h421v-45c0-8.4-6.6-15-15-15z"></path><path
                            d="m435.849 410.515c-8.145 6.782-18.369 10.474-28.872 10.474h-316v45c0 8.291 6.709 15 15 15h391c8.291 0 15-6.709 15-15v-168.146c-28.92 70.951-69.276 106.937-76.128 112.672z"></path>
</g></svg>


          </span>
                        <h4 class="u-text u-text-3">Visits</h4>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-4">
                    <div class="u-container-layout u-similar-container u-container-layout-4"><span
                            class="u-icon u-icon-circle u-text-palette-3-base u-icon-4"><svg class="u-svg-link"
                                                                                             preserveAspectRatio="xMidYMin slice"
                                                                                             viewBox="0 0 512 512"
                                                                                             style=""><use
                            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8725"></use></svg><svg
                            class="u-svg-content" viewBox="0 0 512 512" id="svg-8725"><g><path
                            d="m164.593 162.777-86.833 86.833c-5.858 5.858-5.858 15.355 0 21.213l78.4 78.4c5.857 5.858 15.355 5.859 21.213 0 5.858-5.858 5.858-15.355 0-21.213l-67.793-67.794 76.226-76.227c5.858-5.858 5.858-15.355 0-21.213s-15.356-5.858-21.213.001z"></path><path
                            d="m355.84 162.777c-5.857-5.858-15.355-5.858-21.213 0s-5.858 15.355 0 21.213l67.793 67.794-76.226 76.227c-5.858 5.858-5.858 15.355 0 21.213 5.857 5.858 15.355 5.859 21.213 0l86.833-86.833c5.858-5.858 5.858-15.355 0-21.213z"></path><path
                            d="m300.389 129.558c-7.814-2.76-16.38 1.338-19.139 9.149l-79.318 224.597c-2.758 7.812 1.337 16.38 9.149 19.139 7.809 2.758 16.38-1.336 19.139-9.149l79.318-224.597c2.758-7.812-1.338-16.381-9.149-19.139z"></path><path
                            d="m439.536 68.701h-367.072c-39.957 0-72.464 32.507-72.464 72.464v229.67c0 39.957 32.507 72.464 72.464 72.464h367.072c39.957 0 72.464-32.507 72.464-72.464v-229.67c0-39.957-32.507-72.464-72.464-72.464zm42.464 302.134c0 23.415-19.049 42.464-42.464 42.464h-367.072c-23.415 0-42.464-19.049-42.464-42.464v-229.67c0-23.415 19.049-42.464 42.464-42.464h367.072c23.415 0 42.464 19.049 42.464 42.464z"></path>
</g></svg>


          </span>
                        <h4 class="u-text u-text-4">Models</h4>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-5">
                    <div class="u-container-layout u-similar-container u-container-layout-5"><span
                            class="u-icon u-icon-circle u-text-palette-3-base u-icon-5"><svg class="u-svg-link"
                                                                                             preserveAspectRatio="xMidYMin slice"
                                                                                             viewBox="0 0 231.233 231.233"
                                                                                             style=""><use
                            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3ba4"></use></svg><svg
                            class="u-svg-content" viewBox="0 0 231.233 231.233" x="0px" y="0px" id="svg-3ba4"
                            style="enable-background:new 0 0 231.233 231.233;"><path
                            d="M230.505,102.78c-0.365-3.25-4.156-5.695-7.434-5.695c-10.594,0-19.996-6.218-23.939-15.842  c-4.025-9.855-1.428-21.346,6.465-28.587c2.486-2.273,2.789-6.079,0.705-8.721c-5.424-6.886-11.586-13.107-18.316-18.498  c-2.633-2.112-6.502-1.818-8.787,0.711c-6.891,7.632-19.27,10.468-28.836,6.477c-9.951-4.187-16.232-14.274-15.615-25.101  c0.203-3.403-2.285-6.36-5.676-6.755c-8.637-1-17.35-1.029-26.012-0.068c-3.348,0.37-5.834,3.257-5.723,6.617  c0.375,10.721-5.977,20.63-15.832,24.667c-9.451,3.861-21.744,1.046-28.621-6.519c-2.273-2.492-6.074-2.798-8.725-0.731  c-6.928,5.437-13.229,11.662-18.703,18.492c-2.133,2.655-1.818,6.503,0.689,8.784c8.049,7.289,10.644,18.879,6.465,28.849  c-3.99,9.505-13.859,15.628-25.156,15.628c-3.666-0.118-6.275,2.345-6.68,5.679c-1.016,8.683-1.027,17.535-0.049,26.289  c0.365,3.264,4.268,5.688,7.582,5.688c10.07-0.256,19.732,5.974,23.791,15.841c4.039,9.855,1.439,21.341-6.467,28.592  c-2.473,2.273-2.789,6.07-0.701,8.709c5.369,6.843,11.537,13.068,18.287,18.505c2.65,2.134,6.504,1.835,8.801-0.697  c6.918-7.65,19.295-10.481,28.822-6.482c9.98,4.176,16.258,14.262,15.645,25.092c-0.201,3.403,2.293,6.369,5.672,6.755  c4.42,0.517,8.863,0.773,13.32,0.773c4.23,0,8.461-0.231,12.692-0.702c3.352-0.37,5.834-3.26,5.721-6.621  c-0.387-10.716,5.979-20.626,15.822-24.655c9.514-3.886,21.752-1.042,28.633,6.512c2.285,2.487,6.063,2.789,8.725,0.73  c6.916-5.423,13.205-11.645,18.703-18.493c2.135-2.65,1.832-6.503-0.689-8.788c-8.047-7.284-10.656-18.879-6.477-28.839  c3.928-9.377,13.43-15.673,23.65-15.673l1.43,0.038c3.318,0.269,6.367-2.286,6.768-5.671  C231.476,120.379,231.487,111.537,230.505,102.78z M115.616,182.27c-36.813,0-66.654-29.841-66.654-66.653  s29.842-66.653,66.654-66.653s66.654,29.841,66.654,66.653c0,12.495-3.445,24.182-9.428,34.176l-29.186-29.187  c2.113-4.982,3.229-10.383,3.228-15.957c0-10.915-4.251-21.176-11.97-28.893c-7.717-7.717-17.978-11.967-28.891-11.967  c-3.642,0-7.267,0.484-10.774,1.439c-1.536,0.419-2.792,1.685-3.201,3.224c-0.418,1.574,0.053,3.187,1.283,4.418  c0,0,14.409,14.52,19.23,19.34c0.505,0.505,0.504,1.71,0.433,2.144l-0.045,0.317c-0.486,5.3-1.423,11.662-2.196,14.107  c-0.104,0.103-0.202,0.19-0.308,0.296c-0.111,0.111-0.213,0.218-0.32,0.328c-2.477,0.795-8.937,1.743-14.321,2.225l0.001-0.029  l-0.242,0.061c-0.043,0.005-0.123,0.011-0.229,0.011c-0.582,0-1.438-0.163-2.216-0.94c-5.018-5.018-18.862-18.763-18.862-18.763  c-1.242-1.238-2.516-1.498-3.365-1.498c-1.979,0-3.751,1.43-4.309,3.481c-3.811,14.103,0.229,29.273,10.546,39.591  c7.719,7.718,17.981,11.968,28.896,11.968c5.574,0,10.975-1.115,15.956-3.228l29.503,29.503  C141.125,178.412,128.825,182.27,115.616,182.27z"></path></svg>


          </span>
                        <h4 class="u-text u-text-5">Services</h4>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-6"
                     sec:authorize="hasRole('ADMINISTRATOR')">
                    <div class="u-container-layout u-similar-container u-container-layout-6"><span
                            class="u-icon u-icon-circle u-text-palette-3-base u-icon-6"><svg class="u-svg-link"
                                                                                             preserveAspectRatio="xMidYMin slice"
                                                                                             viewBox="0 0 512 512"
                                                                                             style=""><use
                            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d121"></use></svg><svg
                            class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-d121"
                            style="enable-background:new 0 0 512 512;"><g><g><path
                            d="M256,0c-68.925,0-125,56.075-125,125s56.075,125,125,125s125-56.075,125-125S324.925,0,256,0z"></path>
</g>
</g><g><g><path d="M257.6,280h-3.888c-18.637,0-37.038,2.649-54.693,7.735l57.002,88.142l56.936-88.042    C295.106,282.683,276.479,280,257.6,280z"></path>
</g>
</g><g><g><path d="M453.716,447.961c-9.849-64.776-51.355-121.154-111.995-149.361L271,407.959V512h192.453L453.716,447.961z"></path>
</g>
</g><g><g><path d="M170.255,298.5c-60.946,28.38-102.183,85.085-111.971,149.461L48.547,512H241V407.896L170.255,298.5z"></path>
</g>
</g></svg>


          </span>
                        <h4 class="u-text u-text-6">Employees</h4>
                    </div>
                </div>
            </div>
        </div>
        <a href="https://nicepage.com/k/flask-html-templates"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-1"
           th:href="@{/customers/create}">Create</a>
        <a href="https://nicepage.com/k/flask-html-templates"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-2"
           th:href="@{/customers}">All</a>
        <a href="https://nicepage.com/k/flask-html-templates"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-3"
           th:href="@{/vehicles/create}">Create</a>
        <a href="https://nicepage.com/k/flask-html-templates"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-4"
           th:href="@{/vehicles}">All</a>
        <a href="https://nicepage.com/k/flask-html-templates"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-5"
           th:href="@{/visits}">All</a>
        <a href="https://nicepage.com/k/flask-html-templates"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-6"
           th:href="@{/visits/create}">Create</a>
        <a href="https://nicepage.com/k/flask-html-templates"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-7"
           th:href="@{/models/create}">Create</a>
        <a href="https://nicepage.com/k/flask-html-templates"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-8"
           th:href="@{/models}">All</a>
        <a href="https://nicepage.com/k/flask-html-templates"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-9"
           th:href="@{/services}">All</a>
        <a href="https://nicepage.com/k/flask-html-templates"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-10"
           th:href="@{/services/create}">Create</a>
        <a href="https://nicepage.com/k/flask-html-templates"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-11"
           th:href="@{/employees/create}" sec:authorize="hasRole('ADMINISTRATOR')">Create</a>
        <a href="https://nicepage.com/k/flask-html-templates"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-12"
           th:href="@{/employees}" sec:authorize="hasRole('ADMINISTRATOR')">All</a>
    </div>
    <br/><br/>
</section>
<section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="#" th:href="@{/}" target="_blank">
        <span>K&I Auto Repair Service</span>
    </a>
    <p class="u-text">
        <span>created by</span>
    </p>
    <a class="u-link" href="#" th:href="@{/}" target="_blank">
        <span>Ivaylo Angelov</span>
    </a>.
</section>
</body>
</html>