<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script class="u-script" type="text/javascript" src="../static/js/reset_password.js" th:src="@{/js/reset_password.js}
" defer=""></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align: center">Reset Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div th:if="${success != null}">
                <span th:text="${success}"></span>
                <span><a th:href="@{/login}">Login</a></span>
            </div>
            <!--            <p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>-->
            <form method="post" id="passwordForm" th:action="@{/reset_password}">
                <input type="hidden" name="token" th:value="${token}">
                <label for="password1"></label><input type="password" class="input-lg form-control" name="password1"
                                                      id="password1" placeholder="New Password" autocomplete="off">

                <label for="password2"></label><input type="password" class="input-lg form-control" name="password2"
                                                      id="password2" placeholder="Repeat Password" autocomplete="off"
                                                      required oninput="checkPasswordMatch(this);">
                <div class="row">
                    <div class="col-sm-12">
                    </div>
                </div>
                <br>
                <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg"
                       data-loading-text="Changing Password..." value="Change Password">
            </form>
        </div><!--/col-sm-6-->
    </div><!--/row-->
</div>
<script type="text/javascript">
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value !== $("#password1").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }


</script>
</body>
</html>